body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.otp-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.otp-field {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

#otp-not-received {
    font-size: 14px;
    margin-top: 10px;
}

#resend-otp {
    color: #007BFF;
    text-decoration: none;
}

#verify-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#verify-btn:disabled {
    background-color: #ccc;
    cursor: all-scroll;
}
